body {
  color: black;
  background-color: #e8e8e8;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
footer {
  padding: 3%;
}

.hero {
  color: #fff /* white */;
  font-size: 35px;
  font-family: "Gowun Batang", serif;
  font-weight: 800;
  text-align: center;
  /* top/bottom 5% right/left 0   */
  padding: 5% 0;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3597326/pexels-photo-3597326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: up center;
}

.hero h1 {
  font-size: 45px;
  font-family: "Gowun Batang", serif;
  font-weight: 800;
}

.deckofCards {
  background-color: #e8e8e8;
  padding: 1% 3%;
  color: black;
}
.deckofCards .cardDIV {
  background-color: white;
  border: 1px solid #919191;
}
.deckofCards .cardDIV p {
  padding: 3% 3%;
  font-family: "Gowun Batang", serif;
  font-size: 17px;
}
.deckofCards .cardDIV img {
  width: 100%;
}

/* ~Flexbox~ (https://css-tricks.com/snippets/css/a-guide-to-flexbox/) */
.deckofCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.deckofCards .cardDIV {
  width: 40%;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 5%;
  margin-left: 5%;
}

/* ~Grid~ (https://gridbyexample.com/) */
/*    
.deckofCards {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 100px 100px 100px;
} 
??
*/
