body {
  color: #9e9e9e;
  background-color: #e8e8e8;
}

footer {
  color: black;
  font-size: 15px;
  font-family: "Gowun Batang", serif;
}

a {
  text-decoration: none;
}
img {
  display: block;
}
footer {
  padding: 3%;
}

.hero {
  color: #fff /* white */;
  font-size: 40px;
  font-family: "Gowun Batang", serif;
  font-weight: 800;
  text-align: center;
  /* top/bottom 5% right/left 0   */
  padding: 5% 0;
  height: 100vh;
  background-image: url(https://cdn.glitch.com/8fc8acb1-3426-4c70-9d5f-d984f79f201b%2Fcoding-photo-russiaceilingpaintingsgoldblueorange.jpeg?v=1628690990210);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: up center;
}
.hero h1 {
  font-size: 50px;
  font-family: "Gowun Batang", serif;
  font-weight: 800;
}

.deckofCards {
  background-color: #e8e8e8;
  padding: 1% 3%;
  color: black;
}
.deckofCards .cardDIV {
  background-color: white;
  border: 1px solid #919191;
}
.deckofCards .cardDIV p {
  padding: 3% 5%;
  font-family: "Gowun Batang", serif;
}

/* ~Flexbox~ (https://css-tricks.com/snippets/css/a-guide-to-flexbox/) */
.deckofCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.deckofCards .cardDIV {
  width: 48%;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  padding: 2% 2%;
  font-family: "Gowun Batang", serif;
}
