body {
  color: #9e9e9e;
  background-color: #e8e8e8;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
footer {
  padding: 3%;
}

.hero {
  color: white;
  font-size: 70px;
  font-family: "Gowun Batang", serif;
  font-weight: 800;
  text-align: center;
  /* top/bottom 5% right/left 0   */
  padding: 5% 0;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1544536374-b6e394af6a66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1414&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: up center;
}

.deckofCards {
  background-color: #e8e8e8;
  padding: 1% 3%;
  color: black;
}
.deckofCards .cardDIV {
  background-color: white;
  border: 1px solid #919191;
}
.deckofCards .cardDIV p {
  padding: 3% 5%;
  font-family: "Gowun Batang", serif;
}

/* ~Flexbox~ (https://css-tricks.com/snippets/css/a-guide-to-flexbox/) */
.deckofCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.deckofCards .cardDIV {
  width: 48%;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  padding: 2% 2%;
  font-family: "Gowun Batang", serif;
}
